<div class="row">
  <div class="column">
    <div class="phx-hero">
      <h2>Live view counter</h2>
      <h3><%= @count %></h4>
      <button phx-click="increment">Increment</button>
    </div>
  </div>
  <div class="column">
    <div class="phx-hero" x-data="{ counter: 0}">
      <h2>Alpine.js counter</h2>
      <h3 x-text="counter"></h3>
      <button @click="counter++">Increment</button>
    </div>
  </div>
</div>
